@model IEnumerable<InsuranceGenerator.ViewModels.AdminViewModel>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumCars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRate)
            </td>
            <td>
                @Html.ActionLink("Details", "LookupRate", "Home", new { lookupEmail = item.UserEmail }, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>